# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
*.apk
*.aab
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/*.xcworkspace
ios/Runner.xcworkspace
ios/*.iml

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/.generated/
macos/*.iml

# Web
web/.dart_tool/
web/build/

# Linux
linux/flutter/
linux/.generated/

# Windows
windows/flutter/
windows/.generated/

# VS Code
.vscode/
.idea/
*.iml

# General
*.log
*.lock
*.tmp
*.temp
*.swp
*.DS_Store
*.class

# Firebase/Secrets
*.env
firebase_options.dart
